<!DOCTYPE html>
<html>
  <head>
    <title>Home37448</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>     
    <div class="heading">
       <h1 class="title">Kayo's </h1>
      </div>
      
      <div class="navbar">
      <div class="nav-lists">
      <%#= link to  "ギャラリー" %>
      <%#= link to  "ブログ" %>
        </div>
      </div>
      </header>
 
    <%= yield %>

  
  
  <footer></footer> 
  </body>
</html>
